@eventful-ph:registry=https://npm.pkg.github.com
@eventful-ph/PACKAGE-NAME:stark
//npm.pkg.github.com/:_authToken=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