@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

  body {
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    /* -webkit-font-smoothing: subpixel-antialiased; */
    -moz-osx-font-smoothing: grayscale;

    /* Deactivate auto-enlargement of small text in Safari */
    text-size-adjust: 100%;

    /* Enable kerning and optional ligatures */
    text-rendering: optimizeLegibility;
  }
}

@layer components {
  .rich-text-editor .ql-toolbar {
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    border-radius: 4px 4px 0 0;
    border: 1px solid #e4e4e4 !important;
    border-bottom: none !important;
    @apply bg-white;
  }

  .rich-text-editor .ql-toolbar > .ql-formats,
  .ql-snow.ql-toolbar button,
  .ql-snow .ql-toolbar button {
    margin: 0 !important;
  }

  .rich-text-editor .ql-container {
    border-radius: 0 0 4px 4px;
    height: 200px;
    border: 1px solid #e4e4e4 !important;
  }
}

td {
  padding: 0px;
}
